{% extends "base.html" %}

{% block pre_content %}
    <h2 class="pb-2 border-bottom">
            {{ author }} 's Articles
    </h2>
{% endblock pre_content %}

{% block content %}
    <table>
        <tbody>
            {% for item in author_articles %}
                <tr>
                    <td>{{ item.article.id }}</td>
                    <td> {{ item.article.title }}</a> </td>
                    <td>{{ item.article.created_on }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}