<h2>Articles details</h2>
<table>
    <tbody>
            <tr>
                <td>Id</td>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <td>Title</td>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <td>Created On</td>
                <td>{{ article.created_on }}</td>
            </tr>
            <tr>
                <td>Summary</td>
                <td>{{ article.summary }}</td>
            </tr>

            <tr>
                <td>Category</td>

                <td>{{ article.category.name }}</td>
            </tr>
            <tr>
                <td>Sub Categories</td>

                <td> 
                    {% for item in article.articlesubcategory_set.all %}
                        {{ item.sub_category.name }} | 
                    {% endfor %}
                </td>
            </tr>
            
    </tbody>
</table>

<h1>Authors</h1>
<table>

    <thead>
        <th>#Id</th>
        <th>Name</th>
        <th>Total Articles</th>
    </thead>

    <tbody>
        {% for item in article.articleauthor_set.all %}
            <tr>
                <td>{{ item.author.id }}</td>
                <td>{{ item.author.first_name }} {{ author.last_name}}</td>
                <td>{{ item.author.articleauthor_set.count }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>